<li><a href="{{ site.programming }}" class="otherLinkColour">Programming</a>
    <ul>
        {%- if page.url contains '/programming/' or page.url contains '/programming-v' -%}
        {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-android.html" -%}
        {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-oc.html" -%}             
        {%- endif -%}
    </ul>
</li>
