<li class="category">DEVELOPMENT</li>
<li>
    <a target="_blank" href="{{ site.js }}" class="otherLinkColour refreshLink">Web (Client Side)</a></li>
<li>
    <a class="otherLinkColour">Mobile</a>
    <ul>
        <li><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Android</a></li>
        <li><a target="_blank" href="{{ site.oc }}" class="otherLinkColour refreshLink">iOS</a></li>
        <li><a target="_blank" href="{{ site.react_native }}?product=dce&repoType=mobile" class="otherLinkColour refreshLink">React Native</a></li>
        <li><a target="_blank" href="{{ site.flutter }}?product=dce&repoType=mobile" class="otherLinkColour refreshLink">Flutter</a></li>
        <li><a target="_blank" href="{{ site.xamarin }}?product=dce&repoType=mobile" class="otherLinkColour refreshLink">Xamarin.Forms</a></li>
        <li><a target="_blank" href="{{ site.cordova }}?product=dce&repoType=mobile" class="otherLinkColour refreshLink">Cordova</a></li>
    </ul>
</li>
<!-- {%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-javascript.html" -%}
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-android.html" -%}
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-oc.html" -%} -->